.about__special{
    margin-top: -85px;
}

.app__about{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
   
    .about__form{
        width: 50rem;
        height: 11rem;
        // outline: 2px solid red;
        align-self: center;
        -webkit-box-shadow: 0px -3px 40px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -3px 40px -5px rgba(0,0,0,0.75);
        box-shadow: 0px -3px 40px -5px rgba(0,0,0,0.75);
        background-color: white;
        // margin-top: -56px;
    }
}


.about__section{
    height: 60%;
}


.app__wrapper{
    padding-top: 0;
}