.about__special{
    height: 90rem;

    .app__flex{
        justify-content: flex-start;
    }
}

.app__about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   
    .about__form{
        width: 54rem;
        height: 10rem;

        @media screen and (max-width: 950px) {
            height: 16rem;
            width: 40rem ;
            border-radius: 15px;
            
        }
        @media screen and (max-width: 670px) {
            height: 16rem;
            width: 30rem;
            border-radius: 15px;
        }
        
        @media screen and (max-width: 500px) {
            height: 21rem;
            width: 18rem;
            border-radius: 15px;
        }


        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-shadow: 0px -3px 40px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -3px 40px -5px rgba(0,0,0,0.75);
        box-shadow: 0px -3px 40px -5px rgba(0,0,0,0.75);
        background-color: white;
        margin-top: -20px;
    }
}


.about__section{
    width: 100%;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-evenly;

   
}


.app__wrapper{
    padding-top: 0;
}