.app__footer{
    z-index: 10;
    height: 44vh;
    width: 100vw;
    outline: 2px solid red;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    @media screen and (max-width: 1040px) {
        flex-direction: column;
        height: 150vh;

        // width: 100%;
        
    }
}

.footer__special{
    margin-left: 0px;    
    margin-bottom: 50px;
    margin-top: 20px;

    h1{
        color: black;
        font-size: 3rem;
        font-weight: 1000;
        
        @media screen and(max-width:920px) {
            font-size: 2rem;
            
        }
    }

}


.contact__us{
    outline: 2px solid green;
    flex-basis: 33%;
    height: 100%;
    flex-shrink: 1;
    padding: 10px;


}

.map{
    outline: 2px solid green;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 33%;
    flex-shrink: 1;

    .google__map{
        height: 80%;
        width: 40%;
        

       


    }

    a{
        text-decoration: none;
        color: rgb(255, 64, 89);
        cursor: pointer;
        font-weight: 800;
        
        &:hover{
            color: black;
            text-decoration: underline;
        }
    
    }


    
}

.contact__info{
    flex-shrink: 1;
    outline: 2px solid green;
    height: 100%;
    flex-basis: 33%;

    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;

    .logo{
        margin-left: 16px;
        height: 4rem;
        width: 6rem;
        // outline: 2px solid rgb(0, 0, 0);
        img{
            height: 100%;
            width: 100%;
        }
    }

    .contact{
        padding: 10px;
        height: 14rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 15px;
        
        .contact_icon{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            height: 5.3rem;
            // margin: 10px;
            svg{
                // height: 10rem;
                font-size: 1.3rem;
                margin-right: 20px;
                color: rgb(255, 64, 89);
                // line-height: 50px;
            }
            span{
                font-weight: 800;
            }
        }

    }
}

.social_media{
    width: 19rem;
}

.phoneNumber,.mail__id{
    margin-left: 5px;
}