.app__navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    background: rgba(255,255,255,0.25); //0.25 is opacity of the color
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255,255,255,0.25);

    position: fixed;
    z-index: 2;
}

.app__navbar-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img{
        width: 90px;
        height: 20px;
        
        @media screen and (min-width: 2000px){
            width: 180px;
            height: 40px;
        }
    }
}



.app__navbar-links{
    display: flex;
    flex: 1; //to give it all the space that logo will not take
    justify-content: center;
    align-items: center;

    list-style: none;

    li{
        margin: 0 1rem;
        cursor: pointer;
        flex-direction: column;

        div{
            width: 5px;
            height: 5px;
            background: transparent;
            // background-color: b;
            border-radius: 50%;
        }

        a{
            color: var(--gray-color);
            text-decoration: none;
            // flex-direction: column;

            text-transform: uppercase;
            font-weight: 500;
            font-size: 1rem;

            transition: all 0.3s ease-out;

            &:hover{
                color: var(--secondary-color);
            }
        }

        &:hover{
            div{
                background-color: var(--secondary-color);
            }
        }
    }

    @media screen and (max-width: 900px) {
        display: none;
    }
}

.app__navbar-menu{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 30%;
    // position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--secondary-color);


    svg{
        width: 70%;
        height: 70%;
        color: var(--white-color);
    }

    div{
        position: fixed;
        background-color: var(--secondary-color);
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
        padding: 1rem;
        border-radius: 13px;
        width: 50%;
        height: 100vh;
        
        background: url('../../assets/bgWhite.png');
        background-size: cover;
        background-repeat: repeat;
        box-shadow: 0 0 20px rgba(168,168,168,0.15);

        svg{
            height: 35px;
            width: 35px;
            padding: 2px;
            // border-radius: 12px;
            color: var(--secondary-color);
        }

        ul{
            display: flex;
            flex-direction: column;

            list-style: none;
            

            justify-content: flex-start;
            align-items: flex-start;



            li{
                margin: 1.3rem 1rem;
                a{
                    font-size: 1.5rem;
                    text-decoration: none;
                    color: var(--lightgray-color);
                    text-transform: uppercase;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        color: var(--secondary-color);
                    }
                }


            }
        }


    }

    @media screen and (min-width: 900px) {
        display: none;
        
    }

}

